{% extends 'base.html' %}
{% load static %}


{% block content %}




<h2 style="color: green;"><u>Customers List</u></h2>
<table class="table" id="">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        {% for customer in customers %}
        
        <tr>
            <td> {{ customer.name }}</td>
            <td> {{ customer.address }}</td>
            <td> {{ customer.mail_id }}</td>
        </tr>
        {%endfor%}
    </tbody>
</table><ul>
{% endblock %}