{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="post">
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" name="username" maxlength="150" required id="id_username" class="form-control form-control-lg"/>
            <label class="form-label" for="id_username">Username</label>
            </div>
            <div class="form-outline mb-4">
              <input type="email" name="email"  id="id_email" class="form-control form-control-lg"/ placeholder="Enter a valid email address">
            <label class="form-label" for="id_email">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <input class="form-control form-control-lg" type="text" name="password" maxlength="128" required id="id_password"
              placeholder="Enter password" />
              <label class="form-label" for="id_password">Password</label>
    
            </div>
  
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Signup</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account?<a href="{% url 'login' %}"
                  class="link-danger">Login</a></p>
            </div>
            <br>
            <br>
  
          </form>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2022. All rights reserved.
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>

{% endblock %}