<form method="post" action="{% url 'cart.order' %}" class="">
    {% csrf_token %}
    <div class="modal-header">
      <h4 class="modal-title"><strong>Delivery Address </strong></h4>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    
    </div>
    <div class="modal-body">
      {{form.as_p}}
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" id="btn3">Submit</button>
      </div>
</form>






  
 