{% for product in products %}
  <tr>
    <td><a href="{% url 'product.view' product.id %}">{{ product.title }}</a></td>
    <td>{{ product.price }} Rs</td>
    <td>{{ product.rating }} </td>
    {% comment %} <td>
        <a href="{% url 'product.view' product.id %}"><button type="button"
                class="btn btn-primary btn-sm">
                <i class="fa-regular fa-eye"></i> View
        </button></a>
        <a href="{% url 'product.update' product.id %}"><button type="button"
                class="btn btn-warning btn-sm">
                <i class="fa-solid fa-pen-to-square"></i> Edit
        </button></a>
        <button type="button"
        class="btn btn-danger btn-sm js-delete-product"
        data-url="{% url 'product.delete' product.id %}">
        <i class="fa-solid fa-trash"></i> Delete
        </button>
        
      </td> {% endcomment %}
      <td>
        <form action="/addtocart">
          <input type="hidden"  name="productid" value="{{product.id}}">
          <input class="btn btn-light btn-sm" type="number" value="1" min="1" max="5" name="qty">
          <button class="btn btn-success btn-sm" type="submit"><i class="fa-solid fa-cart-plus"></i>Add To Cart</button>
      </form>
    
      </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="7" class="text-center bg-warning">No Item</td>
  </tr>
{% endfor %}

<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-menu">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
</div>

