{% extends 'base.html' %}
{% load static %}
{% block javascript %}
    <script src="{% static 'js/product.js' %}"></script>
  
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> <h4 style="color: green;"><b>{{ message }} </b></h4></li>
    {% endfor %}
</ul>
{% endif %}

<h1 style="color: green; font-size:3em;"><b>ZINFOG CODELABS</b></h1>
<h5>{{today}}</h5>
<hr>




<table class="table" id="menu-table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
    </thead>

    <tbody>
        {% include 'product/partial_product_list.html' %} 
    </tbody>
</table>

{% endblock %}