{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
    <div class="row">
        <div class="col">
            <div class="card">
                {% if product.id %}
                <h3 class="card-header"><b>Product Edit Form</u></b></h5>
                {% else %}
                <h3 class="card-header"><b>Product Create Form</b></h5>
                {% endif %}
                <div class="card-body">
                    <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-body">
                            <div class="form-group row">
                               
        
                                <div class="col-md-5">
                                    <label class="form-label" for="id_name">Product</label>
                                    {{form.title}}
                                   
                                </div>
                            </div>

                            <div class="form-group row">
                                
                            
                                <div class="col-md-5">
                                    <label class="form-label" for="price">Price</label>
                                    {{form.price}}
                
                                    
    
                                </div>

                                
                            </div> 
                            <div class="form-group row">
                                
                            
                                <div class="col-md-5">
                                    <label class="form-label" for="id_image">Image</label>
                                    {{form.image}}
                
                                    
    
                                </div>

                                
                            </div> 

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-light">
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-5">
                                            <button class="btn btn-primary btn-rounded">Submit</button>
                                         
                                            <a href="{% url 'product.list' %}"><button type="button" class="btn btn-secondary clear-form btn-rounded btn-outline">
                                                Cancel
                                            </button></a>
                                            
                                        </div>
                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{%endblock%}