{% extends 'base.html' %}
{% load static %}
{% block javascript %}
    <script src="{% static 'js/product.js' %}"></script>
  
{% endblock %}
{% block content %}
<div class="card" style="width: 50rem;">
    
    <div class="card-body" id="product_view">
    {% comment %} <h3><b>ID:            {{item.id}}</b></h3> {% endcomment %}
    {% if product.image %}
    <img src="{{product.image.url}}" alt="{{product.image}}" id="" title="" class="img-fluid" width="250px"//>
    {%else%}
    {%endif%}
    <h3><b> {{product.title}}</b></h3>
    <h3><b>Price:         {{product.price}} Rs</b></h3>
    <h3><b>Rating:      {{product.rating}}</b></h3>
    <table class="table" id="menu-table">
      <thead>
          <tr>
            {% if user.is_authenticated %}
         
              <th><a href="{% url 'product.update' product.id %}"><button type="button"
                class="btn btn-warning btn-sm">
                <i class="fa-solid fa-pen-to-square"></i> Edit
          </button></a></th>
              <th><button type="button"
                class="btn btn-danger btn-sm js-delete-product"
                data-url="{% url 'product.delete' product.id %}">
                <i class="fa-solid fa-trash"></i> Delete
                </button></th>
              <th><form action="/addtocart">
                <input type="hidden"  name="productid" value="{{product.id}}">
                <input class="btn btn-light btn-sm" type="number" value="1" min="1" max="5" name="qty">
                <button class="btn btn-success btn-sm" type="submit"><i class="fa-solid fa-cart-plus"></i>Add To Cart</button>
            </form></th>
            <th><form method="post" action="{% url 'rating' product.id %}">
              {% csrf_token %}
              {% comment %} <input type="hidden"  name="rating" value="{{product.rating}}"> {% endcomment %}
              <input class="btn btn-dark btn-sm" type="number" value="" min="1" max="5" name="rating" placeholder="{{product.rating}}">
              <button class="btn btn-dark btn-sm" type="submit"><i class="fa-solid fa-star"></i>Rating</button>
          </form></th>
          {% else %}
          <p class="navbar-brand" style="color: green;">You are not logged in</p>
          {% endif %}
          </tr>
      </thead>
  
      <tbody>
          
      </tbody>
  </table>
    
    
    

  </div>

  
<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-menu">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
{%endblock%}

