{% extends 'base.html' %}
{% load static %}
{% block javascript %}
    <script src="{% static 'js/order.js' %}"></script>
  
{% endblock %}

{% block content %} 
<table class="table" id="cart-table">
  
    <thead>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total price</th>
        </tr>
    </thead>
    {% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.title }}</td>
        <td>{{ product.Qty }}</td>
        <td>{{ product.Price }} Rs</td>
        <td>{{ product.total_price }} Rs</td>
        <td><form action="/removefromcart">
            <input type="hidden"  name="productid" value="{{product.id}}">
            <button type="submit"
                class="btn btn-danger btn-sm">
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="7" class="text-center bg-warning">There is no item in the cart</td>
    </tr>
    {% endfor %}
    <tbody>
        
    </tbody>
</table>


    <h4><b>Full Cart Amount:{{full_amount}} Rs</b></h4>
    <form action="{% url 'cart.order'%}" id="placeorder">
        <button type="button"
        class="btn btn-success btn-sm js-order-product"
        data-url="{% url 'cart.order' %}">
        <i class="fa-solid fa-cart-plus"></i> Place Order
        </button>
        {% comment %} <a href="{% url 'cart.order' %}"><button type="button"
        class="btn btn-success btn-sm">
        <i class="fa-solid fa-cart-plus"></i> Place Order
    </button></a> {% endcomment %}
    </form>
    <hr>

<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-cart">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
</div>    




{% endblock %} 

  