{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ZINFOG CODELABS</title>
        <!-- CSS only -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        {% comment %} <link rel="stylesheet" href="/static/css/product.css" /> {% endcomment %}

    </head>

    <body>
        <nav class="navbar navbar-success bg-secondary">
          {% if user.is_authenticated %}
           <span class="navbar-brand" style="color: yellow;"><b>Hello, {{ user.username }}</b></span>
          {% else %}
          <p class="navbar-brand" style="color: white;">You are not logged in</p>
          {% endif %}
            <div class="ms-auto">
              
              {% if user.is_authenticated %}
                <div class="dropdown">
                  <a href="{% url 'product.list' %}" class="btn btn-dark"><i class="fa-solid fa-house-user"></i>Home</a>

                  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-list"></i>
                  </button>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li> <a class="dropdown-item" href="{% url 'order.list' user.id %}"><button type="button" class="btn btn-dark">
                      <i class="fa-solid fa-list"></i>Orders 
                    </button></a></li>

                    <li><a class="dropdown-item" href="{% url 'customer.list'%}"><button type="button" class="btn btn-dark">
                      <i class="fa-solid fa-list"></i>
                      Customers
                    </button></a></li>
                   
                  </ul>

                  <a href="{% url 'product.create' %}"><button type="button" class="btn btn-dark">
                    <i class="fa-solid fa-plus"></i>Add New Product  </button>
                  </a>
             
                  <a href="{% url 'cart' %}"><button type="button" class="btn btn-dark">
                    <i class="fa-solid fa-cart-plus"></i>
                    Cart
                  </button></a>

             
        
                  <a href="{% url 'logout' %}"><button type="button" class="btn btn-dark">
                    <i class="fa-solid fa-user"></i>Logout </button>
                  </a>
                </div>

                {% else %}
                <div class="dropdown">
                  <a href="{% url 'product.list' %}" class="btn btn-primary"><i class="fa-solid fa-house-user"></i>Home</a>
                  <a href="{% url 'login' %}" class="btn btn-primary"><i class="fa-solid fa-user"></i>Login</a>

                  <a href="{% url 'signup' %}"><button type="button" class="btn btn-primary">
                    <i class="fa-solid fa-user"></i>Signup </button>
                  </a>
             
                  <a href="{% url 'cart' %}"><button type="button" class="btn btn-primary">
                    <i class="fa-solid fa-cart-plus"></i>
                    Cart
                  </button></a>

                </div>

                {% endif %}
               
            </div>
        </nav>
        <div class="my-5 text-center container">
                {% block content %}
                {% endblock %}
              </div> 

    
        <script src="{% static 'js/jquery.min.js' %}"></script> 
        <script src="{% static 'js/bootstrap.min.js' %}"></script> 
        {% block javascript %}
        {% endblock %}
     </body>
   <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> 
</html>
